CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
STRIPE_SECRET_KEY=sk_t...
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
# Este es el signing secret que se obtiene en el dashboard de stripe del webhook
STRIPE_ENDPOINT_SECRET=whsec_U...

AUTH_DATABASE_URL=mongodb+srv://...

NATS_SERVICE_NAME='NATS_SERVICE'
NATS_SERVERS="nats://localhost:4222"

JWT_SECRET=EstoDeberiaSerUnSecreto